/* TODO 对代码进行多层级的分离, 方便后期维护 */

* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}
body{
    /* background: url(../img/book.jpg) no-repeat center center fixed; */
    background: url(../img/book2.jpg) no-repeat;
    background-size: cover;

    min-height: 100vh;
}

/* li {
    display: flex;
} */


/* body{
        background-image: url('background/repeated-square.webp');
    } */

a {
    text-decoration: none;
    color: #fa9e9e;
}
/* date */
.two span {
    color: rgb(42, 246, 246);
    font-size: 0.3em;
}