/* .slider{
        width: 100%;
        height: 500px;
        background-color: red;
    } */


.three {
    width: 550px;
    position: relative;
}

.pre_content {
    position: absolute;
    right: 0px;
}



/* 左边修饰 */
.slider {
    /* position: absolute;
    top: 85.57px;
    left: 0px; */


    /* height: 1500px; */
    /* border-right: 1px black solid; */
}

/* areatext */
#inputText {
    width: 666px;
    height: 566px;
    resize: none;
    /* 阻止用户调整文本域大小 */
}

/* 修饰左边的tag */
li {
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    margin: 5px;
    /* padding: 5px; */
    background-color: #046fb7;
    border: 1px solid #046fb7;
    border-radius: 5px;
}

div.tag {
    display: inline-block;
    /* background-color: #f0f0f0; */
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

div.tag.active {
    /* background-color: #62b7f0; */
    /* background-color: #e0e0e0; */
    border: 2px dotted #62b7f0;
}

.login {
    right: 15px;
}

.avatar {
    position: absolute;
    right: 50px;
    display: none;
    border-radius: 50%;
}

/* 点击头像弹出的下拉菜单 */
.popup {
    position: absolute;
    top: 62px;
    right: 30px;
    width: 100px;
    height: 60px;
    border: 3px solid #eeeeee;
    display: none;
    /* 提高层级, 防止被帖子挡住 */
    z-index: 999;
}

.popup.show {
    display: block;
}

.popup::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 46px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #046fb7 transparent;
}

/* 注册, 登录按钮的通用修饰 */
/* .btn {
    color: #046fb7;
    position: absolute;
    width: 60px;
    height: 45px;
    top: 13px;
} */

/* 注册, 登录按钮的框体 */
.side_btn {
    /* float: right;
    margin-top: 10px; */
    /* margin-right: 10px; */
}

/* 弹出下拉菜单的按钮大小 */
.inline_btn {
    width: 100px;
    height: 30px;
}

/* 注册按钮固定位置 */
.register {
    right: 85px;
}

/* 添加logo与正文的分割线 */
.top {
    border-bottom: 10px #046fb7 solid;
}

.content ul li:hover {
    background-color: #046fb7;
}

.container {
    width: 100%;
}

/* 右边框, tag的修饰 */
.tagR {
    display: inline-block;
    margin: 2px;
    /* padding: 5px; */
    background-color: #046fb7;
    border: 1px solid #046fb7;
    /* border-radius: 5px; */
    line-height: auto;
}


/* TODO 修饰a标签(title/帖子题目) */

/* .content {
    margin-top: 5px;
    position: absolute;
    right: 20px;
    top: 85.57px;
    height: 1500px;
} */

/* 帖子头像 */
.one {
    display: inline-block;
}

/* 帖子title, 时间, tag */
.two {
    display: inline-block;
}

/* 帖子浏览数, 点赞数, 帖子数, 及正文预览内容的框体 */
.three {
    display: flex;
    align-items: center;
}

/* 修饰赞同,点赞,帖子数 */
.three_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border: #fff 1px solid;
    height: 30px;
}

/* 修饰正文预览 */
/* .pre_content {
    border-left: 2px solid blue;
    height: 50px;
    display: flex;
    align-items: center;

    position: absolute;
    right: 50px;
    width: 170px;
} */



#tagList li {
    backdrop-filter: blur(5px);
}

#inputText {
    backdrop-filter: blur(5px);
}

.pre_content {
    color: #62b7f0;
}

/* 点赞数等 */
.three_content {
    color: #000;
    background: #62b7f0;
    opacity: 0.5;
}

.one {
    display: flex;
}





header {
    position: fixed;
    width: 100%;
    height: 71px;
    z-index: 999;
}

header .containerTop {
    display: flex;
    justify-content: space-between;
}

header .indexMenu {
    display: flex;
    align-items: center;
}

header .indexMenu a {
    margin-left: 35px;
    text-decoration: none;
    color: #000;
}

header .indexMenu a:hover {}

.side_btn {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.side_btn .btn {

    width: 60px;
    height: 42px;
    margin-right: 10px;
    background: none;
}

body {
    /* 背景图片始终跟随 */
    background-attachment: fixed;
}

.tag {
    background: none;
    color: #fff;
}

#inputText {
    background: none;
    color: #fff;
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 73px;

    /* 2024年10月4日 */
    position: relative;

}

.content {
    width: 1000px;
}

.content ul {
    width: 100%;
}

.liContainer {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

#addButton {
    color: #046fb7;
    size: 54px;
}

.details1 {}

/*  */
.bigDiv {
    position: absolute;
    top: 52px;
    width: 100px;
    height: 100px;
    background: #046fb7 transparent;
}

.blinkTri {
    color: rgb(255, 0, 0);
    font-size: 24px;
    position: absolute;
    left: 669.33px;
    top: 200px;
    transform: translateY(-50%);
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}