.content ul li:hover {
    background-color: #046fb7;
}

.container {
    width: 400px;
}

/* 右边框, tag的修饰 */
.tagR {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #046fb7;
    border: 1px solid #046fb7;
    border-radius: 5px;
}


/* TODO 修饰a标签(title/帖子题目) */

.content {
    margin-top: 5px;
    position: absolute;
    right: 20px;
    top: 85.57px;
    height: 1500px;
}

/* 帖子头像 */
.one {
    display: inline-block;
}
/* 帖子title, 时间, tag */
.two {
    display: inline-block;
}

/* 帖子浏览数, 点赞数, 帖子数, 及正文预览内容的框体 */
.three {
    display: flex;
}
/* 修饰赞同,点赞,帖子数 */
.three_content {
    margin: 10px;
    border: #046fb7 1px solid;
    height: 30px;
}
/* 修饰正文预览 */
.pre_content {
    border-left: 2px solid blue;
    height: 50px;
    display: flex;
    align-items: center;

    position: absolute;
    right: 50px;
    width: 170px;
    /* 后期hover的时候跳到200px */
}

